[{rabbitmq_auth_backend_ldap,[
    {vhost_access_query,    {in_group,
                              "ou=People,ou=vhosts,dc=inter,dc=lan"}},
     {resource_access_query,
      {for, [{permission, configure, {in_group, "cn=miners,dc=inter,dc=lan"}},
             {permission, write,
              {for, [{resource, queue,    {in_group, "cn=admin,dc=inter,dc=lan"}},
                     {resource, exchange, {constant, true}}]}},
             {permission, read,
              {for, [{resource, exchange, {in_group, "cn=admin,dc=inter,dc=lan"}},
                     {resource, queue,    {constant, true}}]}}
            ]
      }},
     {topic_access_query,
      {for, [{permission, write, {match, {string, "${routing_key}"}, {string, "^a"}}},
             {permission, read,  {constant, true}}
            ]
      }},
     {tag_queries,           [{administrator, {constant, true}},
                              {management,    {constant, true}}]}
]}].
