# try LDAP first
auth_backends.1 = ldap
# fall back to the internal database
#auth_backends.2 = internal

#auth_ldap.servers.1 = comp.inter.lan
auth_ldap.servers.1 = prod.inter.lan

# enables TLS for connections to the LDAP server
auth_ldap.use_ssl = false
# 15 seconds in milliseconds
auth_ldap.timeout   = 5000
auth_ldap.log = network 

# Disables peer certificate chain verification. See the section on Peer Verification
# below.
#
# Doing so loses one of the key benefits of TLS and make the setup less secure
# but also simplifies node configuration.
auth_ldap.ssl_options.verify = verify_none

auth_ldap.user_dn_pattern = uid=${username},ou=people,dc=inter,dc=lan
#auth_ldap.user_dn_pattern = "cn=${username},dc=inter,dc=lan"
#auth_ldap.user_dn_pattern = uid=john,ou=People,dc=inter,dc=lan
auth_ldap.dn_lookup_base = dc=inter,dc=lan
